.App {
  text-align: center;
  margin-top: 100px;
}
button{
  padding: 5px;
  margin: 10px;
  width: 150px;
  font-size: x-large;
  border-radius: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button:hover{
  background-color: rgb(78, 215, 188);
  color: white;
}
.green{
  margin-top: 50px;
  font-size: 100px;
  color:green
}
.red{
  margin-top: 50px;
  font-size: 100px;
  color:red
}
h1{
  font-size: 50px;
}
.black{
  color: black;
}
